# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.workspace

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Playground
timeline.xctimeline
playground.xcworkspace

# Archive
*.ipa
*.dSYM.zip
*.dSYM

# Misc
*.swp
*~

xcodebuild_output.txt