<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于自动识别相册中的 InBody 报告并录入健康数据。</string>
	<key>NSCameraUsageDescription</key>
	<string>用于拍摄 InBody 报告并自动识别健康数据。</string>
</dict>
</plist>
